body {
 background-color: #f6f6f6;
}

h1 {
    font-family: "Calibri Light", sans-serif;
    background: linear-gradient(90deg, #ceff00, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.box {
    font-size: 15pt;
    border: 3px solid;
    border-radius: 2000px;
    padding: 10px;
}

.box p {
    font-family: "Book Antiqua", sans-serif;
}

img {
    height: 500px;
    width: 700px;
}

p {
    font-size: 18px;
}

.prvni-slovo {
    color: red;
}

.druhy-slovo {
    color: blue;
}

.treti-slovo {
    color: green;
}

.ctvrty-slovo {
    color: purple;
    text-decoration: underline;
}

.paty-slovo {
    font-weight: bold;
}

.sesty-slovo {
    font-style: italic;
    font-family: Castellar, serif;
}

.sedmy-slovo {
    color: orange;
}

.osmy-slovo {
    color: gold;
}
